body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.admin-container {
    
    width: fit-content;
    padding: 25px;
    display: flex;
    flex-grow: 1;
    flex-basis: 250px;
    max-width: 690px;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    position: relative;
}

.admin-container h1 {
    margin: 10px 0 10px 0;
    text-align: center;
}

.title {
    font-style: italic;
    margin: 0 0 0 0;
}

.phone {
    margin: 0 0 0 0;
}

.students {
    margin: 0 0 0 0;
}

a {
    color: #757575;
    margin: 0 0 0 0;
}

.profile-pic {
    cursor: pointer;
    max-width: 330px;
}

.profile-pic:hover{
    transform: scale(1.05);
}

.close-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 450px;
    right: 25px;
    padding: 10px;
    z-index: 1;
    border-radius: 50%;
}

.close-button:hover {
    
    animation: close-button-animation .5s linear;
    background-color:rgba(0, 0, 0, .25);
}

@keyframes close-button-animation {
    0% {}

    100% {
        cursor: pointer;
        transform: rotate(90deg);
    }
}