* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

body {
	background: #eceef1;
	font-family: 'Slabo 27px', serif;
	color: #333a45;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
h1{
	margin-top: 40px;
	margin-bottom: 10px;
	display: block;
}
.subject-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subject-container h1 {
	display: flex;
	justify-content: center;
}
.cards {
	padding: 15px;
	display: flex;
	min-height: 100%;
	width: 100%;
	flex-flow: row wrap;
	align-items: stretch;
}

.card {
	margin: 15px;
	margin-top: 40px;
	margin-bottom: 15px;
	width: calc((100% / 2) - 30px);
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: all .2s ease-in-out;
}

@media screen and (max-width: 991px) {
	.card {
		width: calc((100% / 2) - 30px);
	}
	
}

@media screen and (max-width: 767px) {
	.card {
		width: 100%;
	}
}





.card:hover .card__inner {
	background-color: #2A51A3;
	transform: scale(1.05);
	color: white;
}



.card__inner {
	width: 100%;
	padding: 15px;
	position: relative;
	cursor: pointer;
	color: black;
	font-size: 14px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	min-height: 55vh;
}

.plc-pic {
	width: 100%;
	max-height: 35vh;
	object-fit: contain;
}
.plc-info{
	width: 100%;
	max-width: 350px;
	height: 100%;
}
.plc-title{
	margin: 0;
}
.plc-blurb{
	max-width: 300px;
}

.meet-btn{
	padding: 20px;
	max-width: 300px;
	background-color: #2A51A3;
	margin-left: auto;
	margin-right: auto;
	justify-self: flex-end;
}



.card__inner:after {
	transition: all 0.3s ease-in-out;
}

.card__inner .fa {
	width: 100%;
	margin-top: .25em;
}

.card__expander {
	transition: all 0.2s ease-in-out;
	
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	color: #eceef1;
	font-size: 1.5em;

}

.staff-profile{
	display: flex;
	padding: 10px;
	max-width: 300px;
	max-height: 100%;
	margin-top: 10px;
	background-color:  #2FFFFFF;
}
.staff-left{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}
.staff-name{
	margin-top: 5px;
	font-size: .70em;
	text-align: center;
}
.staff-right{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	width: 60%;
	
}

.staff-pic{
	max-width: 100%;
	border-radius: 50%;
}

.canvas-link-container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	font-size: .5em;
}

.canvas-link-container a {
	margin-bottom: 10px;
	border: 2px solid black;
	padding: 10px;
	color: black;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.canvas-link-container a:hover {
	background-color: #2A51A3;
	color: white;
	border: 2px solid black;
}

.nav-btn-container{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav-btn{
	border: none;
	padding: 10px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
}
.nav-btn:active{
	background-color: #2A51A3;
	border:none;
}

.nav-btn:hover {
	background-color: #2A51A3;
	color: white;
}

.active-btn{
	background-color: #2A51A3;
	color: white;
}

.staff-name{
	color: black !important;
}


@media screen and (max-width: 600px){
	.nav-btn-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-btn{
		display: flex;
		width: 40vw;
	}
	

	
	
}



.card__expander .fa {
	font-size: 1em;
	position: absolute;
	top: 15px;
	right: -5px;
	cursor: pointer;
	color: black;
}

.card__expander .fa:hover {
	opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
	content: "";
	opacity: 0;
}

.card.is-collapsed .card__expander {
	max-height: 0;
	min-height: 0;
	overflow: hidden;
	margin-top: 0;
	opacity: 0;
}

.card.is-expanded .card__inner {
	background-color: #2A51A3;
	color: white;
}

.card.is-expanded .card__inner:after {
	content: "";
	opacity: 1;
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #333a45;
}

.card.is-expanded .card__inner .fa:before {
	content: "\f115";
}

.card.is-expanded .card__expander {
	height: 100%;
	min-height: 200px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 1;
}

.card.is-expanded:hover .card__inner {
	transform: scale(1);
}

.card.is-inactive .card__inner {
	pointer-events: none;
	opacity: 0.5;
}

.card.is-inactive .card__expander {
	pointer-events: none;
	height: 200px;
	opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
	background-color: #949fb0;
	transform: scale(1);
}

@media screen and (min-width: 992px) {
	.card:nth-of-type(2n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card__expander {
		width: calc(200% + 30px);
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.card:nth-of-type(2n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card:nth-of-type(2n+3) {
		clear: left;
	}

	.card__expander {
		width: calc(200% + 30px);
	}
}