* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #eceef1;
	font-family: 'Slabo 27px', serif;
	color: #333a45;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards {
	padding: 15px;
	display: flex;
	min-height: 100%;
	flex-flow: row wrap;
	align-items: stretch;
}

.card {
	margin: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: calc((100% / 2) - 30px);
	display: flex;
	flex-direction: column;
	transition: all .2s ease-in-out;
}

@media screen and (max-width: 991px) {
	.card {
		width: calc((100% / 2) - 30px);
	}
}

@media screen and (max-width: 767px) {
	.card {
		width: 100%;
	}
}

.card:hover .card__inner {
	background-color: #2A51A3;
	transform: scale(1.05);
}

.card:hover .meet-btn{
	border: 2px solid black;
}

.card__inner {
	width: 100%;
	padding: 15px;
	position: relative;
	cursor: pointer;
	background-color: #333a45;
	color: #eceef1;
	font-size: 1em;
	text-align: center;
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
}
.plc-pic-wrapper{
	width: 60%;
}
.plc-pic {
	max-width: 80%;
	min-width: 250px;
	object-fit: cover;
}
.plc-info{
	width: 100%;
}
.plc-title{
	margin: 0;
}

.meet-btn{
	padding: 20px;
	max-width: 300px;
	background-color: #2A51A3;
	margin-left: auto;
	margin-right: auto;
}

.card.is-expanded .card__inner .plc-info .meet-btn{
	border: 2px solid black;
}

.card__inner:after {
	transition: all 0.3s ease-in-out;
}

.card__inner .fa {
	width: 100%;
	margin-top: .25em;
}

.card__expander {
	transition: all 0.2s ease-in-out;
	background-color: #333a45;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	color: #eceef1;
	font-size: 1.5em;
}

.staff-profile{
	display: flex;
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
	margin-top: 10px;
	background-color:  #2A51A3;
}
.staff-left{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 150px;
}
.staff-name{
	margin-top: 5px;
	font-size: .75em;
	text-align: center;
}
.staff-right{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	min-width: 150px;
	
}

.staff-pic{
	max-width: 100%;
	border-radius: 50%;
}

.canvas-link-container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: .5em;
}

.canvas-link-container a {
	margin-bottom: 10px;
	background-color:  #2A51A3;
	padding: 10px;
	color: white;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border: solid black 2px;
}

.canvas-link-container a:hover {
	background-color: #333a45;
	border: solid black 2px;
}



.card__expander .fa {
	font-size: 0.75em;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.card__expander .fa:hover {
	opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
	content: "";
	opacity: 0;
}

.card.is-collapsed .card__expander {
	max-height: 0;
	min-height: 0;
	overflow: hidden;
	margin-top: 0;
	opacity: 0;
}

.card.is-expanded .card__inner {
	background-color: #2A51A3;
}

.card.is-expanded .card__inner:after {
	content: "";
	opacity: 1;
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #333a45;
}

.card.is-expanded .card__inner .fa:before {
	content: "\f115";
}

.card.is-expanded .card__expander {
	height: fit-content;
	max-height: 1000px;
	min-height: 200px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 1;
}

.card.is-expanded:hover .card__inner {
	transform: scale(1);
}

.card.is-inactive .card__inner {
	pointer-events: none;
	opacity: 0.5;
}

.card.is-inactive .card__expander {
	pointer-events: none;
	height: 200px;
	opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
	background-color: #949fb0;
	transform: scale(1);
}

@media screen and (min-width: 992px) {
	.card:nth-of-type(2n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card__expander {
		width: calc(200% + 30px);
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.card:nth-of-type(2n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card:nth-of-type(2n+3) {
		clear: left;
	}

	.card__expander {
		width: calc(200% + 30px);
	}
}