@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'sora', sans-serif;
  box-sizing: border-box;
}

#switch-cam-btn {
  width: 40px;
  height: 40px; 
  background-color: rgba(0,0,0,0.2);
  padding: 10px; 
  border-radius: 30%; 
  position: absolute;
  z-index: 10; 
  bottom: 100px; 
  right:30px;
  fill:white;
  cursor: pointer;
}
#switch-cam-btn:active {
  fill:#15cdfc;
}

#webcam {
  text-align: center;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  position: absolute;
  z-index: 0;
}

.active {
  color: #15cdfc !important;
}

a:link{
  color: #FFF;
}
a:visited {
  color: #FFF;
}